

/*
*　
ヘッダー　
*
*/
.header {
  background-color: #00008B;
  height: 100px;
}

.header-title {
  font-size:20px;
  color:#FFFFFF;
  float:left;
  padding-left:40px;
}

.header-search {
  font-size:36px;
  color: #32CD32;
  float:right;
  padding-top: 20px;
  padding-right: 40px;
}


/*
*　
メイン　
*
*/
.main {
  min-height:1000px;
  background-color:#DCDCDC;
}

/*新規ToDo*/
.new-todo {
  background-color: #E6E6FA;
  border:1px solid #000000	;
  margin-left:40px;
  width:1200px;
  padding: 30px;
}

.form {
  width:600px;
  margin-right:10px;
  padding:5px;
  font-size:18px;
  border: 1px solid #000000;
}

.period {
  width:200px;
  padding:5px;
  font-size:18px;
  border: 1px solid #000000;
  text-align:center;
}

.add-todo {
  background-color:#c0c0c0;
  font-size:25px;
  border: 1px solid #c0c0c0;
  width:200px;
  float:right;
}

.input-errors {
    color:red;
}

/**/
.todo-message-Top {
     margin-top:25px;
    text-align:center;
}
.todo-message {
    margin-top:30px;
    color:#ff0000;
    text-align:center;
}

.todo {
    /*font-size:15px;
    width:1000px;
    background-color:#ffffff;
    margin-bottom:10px;
    margin-left: 100px;
    padding-left:100px;
    border: 1px solid #000000;
    padding-top:15px;
    padding-bottom:15px;*/
}


.done {
    font-size:30px;
    width:150px;
    height:60px;
}

.comp {
    background-color:#6495ed;
}

.not-comp {
    background-color:#cd5c5c;
}

.edit {
    background-color:#90ee90;
    font-size:30px;
    width:150px;
    height:60px;
}




/*
*　
フッター　
*
*/
footer {
 background-color: #DCDCDC;
 height: 100px;
}
/************************************************/
/**
*
*検索画面
*
**/
.search {
  width:600px;
  margin-left:100px;
  padding:5px;
  font-size:25px;
  border: 1px solid #000000;

}

.search-button {
    background-color:#c0c0c0;
    margin-left:20px;
    font-size:25px;
    border: 1px solid #c0c0c0;
    width:200px;

}

.search-form-title {
    margin-left:100px;
}