<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<link th:href="@{/css/stylesheet.css}" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <title>ToDoの編集</title>
</head>

<body>
    <!--  ヘッダー -->
    <div class="header">
        <div class="header-title">
            <h1>TODOリスト</h1>
        </div>
        <div class="header-search">
            <a href="/search"> 検索 </a>
        </div>
    </div>

    <!-- メイン -->
    <div class="main">
        <div class = "new-todo">
            ToDoの内容を変更します<br>
            <form action="/edit/{taskId}" method="post">
                <div>
                    <label for="name">ToDo名</label>
                    <input type="text" id="name" name="name" th:value="${taskDto.getName()}" class="form">
                    <label for="date">期限</label>
                    <input type="date" id="date" name="date" th:value="${taskDto.getDate()}" class="period">
                    <input type="submit" value="更新"　name="name" class="add-todo"><br>
                </div>
            </form>
        </div>


    <footer></footer>

</body>
</html>
