<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<link th:href="@{/css/stylesheet.css}" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <title>ToDoの検索</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(function(){
        var done = $('.done');
        console.log(done);
        done.click(function () {
            var target = $(this);
            $.ajax({
                url : 'http://localhost:8080/update',
                type : 'POST',
                data: {
                taskId:$(this).data('id')
                },
                success:function(msg){
                if(target.text() ==　'完了') {
                target.text("未完了");
                target.css({'background-color':'#cd5c5c'});
                } else {
                target.text("完了");
                target.css({'background-color':'#6495ed'});
                }
            }
        });
        });
    });

    $(function(){
        $('.header-title').click(function(){
            window.location.href = '/';
        });
    });

  </script>
</head>

<body>
<!--  ヘッダー -->
<div class="header">
    <div class="header-title">
        <h1>TODOリスト</h1>
    </div>
</div>

<!-- メイン -->
<div class="main">
    <br>
    <div class="search-form-title">未完了のToDoを検索する</div>
    <form action="/search" method="get">
            <input type="text" id="name" name="searchText" placeholder="検索ワードを入力してください" class="search">
            <input type="submit" value="検索" 　name="name" class="search-button"><br>
    </form>

    <div class="remain-todos" th:if="${findTaskDtos != null}">
        <h3 class="todo-message" th:text="${findTaskDtos.size() != 0} ? 'ToDoが'+ @{{taskSize}(taskSize=${findTaskDtos.size()})} +'件見つかりました':'対象のToDoは見つかりません'"></h3>
        <table border="1" align="center"  th:if="${findTaskDtos.size() !=0}">
            <tr>
                <th>ToDo名</th>
                <th>期限</th>
                <th>作成日</th>
                <th>編集</th>
                <th>状態</th>
            </tr>
            <tr th:each="taskDto : ${findTaskDtos}" class="todo"> <!--繰り返し処理-->
                <div class="todo">
                    <td th:text="${taskDto.getName()}"></td><!--ToDo名-->
                    <td th:text="${taskDto.getDate()}"></td>
                    <td th:text="${taskDto.getCreatedAt()}"></td>
                    <td><button th:onclick="'location.href = \'' + @{/edit/{taskId}(taskId=${taskDto.getTaskId()})} + '\''" class="edit">編集</button></td>
                    <td><button th:data-id="${taskDto.getTaskId()}" th:class="${taskDto.isDone()} ? 'done comp':'done not-comp'" th:text="${taskDto.isDone()} ? '完了':'未完了'"></button></td>
                </div>
            </tr>
        </table>
    </div>

</div>

<footer>
</footer>

</body>
</html>
